<aside class="sidebar">
    <div class="sidebar-header">
        <a href="/" class="logo text-h1" style="font-size: 32px; text-decoration: none; color: black;">Facto</a>
    </div>
    <nav class="sidebar-nav">
        <a href="/pages/invoice.html" class="nav-item">Factura</a>
        <a href="/pages/history.html" class="nav-item">Historial</a>
        <a href="/pages/products.html" class="nav-item">Productos</a>
        <a href="/pages/profile.html" class="nav-item active">Perfil</a>
    </nav>
</aside>